<%- include('partials/header'); -%>
<form action="/movies" method="GET" class="search-form">
  <h1>Search movies:</h1>
  <p>Try to search for a movie.Title field is mandatory.</p>
  <input
    class="d-inline"
    type="text"
    name="title"
    placeholder="enter movie title"
  />
  <input
    class="d-inline"
    type="number"
    name="year"
    placeholder="enter a year"
  />
  <select
    class="form-select form-select-sm d-inline"
    name="type"
    name="selectScore"
    aria-label="label for the select"
  >
    <option value="">--Please choose a type--</option>
    <option value="movie">movie</option>
    <option value="series">series</option>
  </select>
  <button type="submit" class="btn btn-primary btn-sm">Search</button>
</form>
<div class="movies-wrapper">
  <% for(let movie of movies){ %>
  <div>
    <a href="/details/<%= movie.imdbID%>" aria-label="Picture"
      ><img src="<%= movie.Poster %>" alt="<%= movie.Title %>"
    /></a>
    <h1><%= movie.Title %></h1>
    <p><%= movie.Year %></p>
  </div>
  <% } %>
</div>
<%- include('partials/footer')-%>
